*{
  margin: 0px;
  box-sizing: border-box;
  align-items: center;
  flex-direction: column;
}

.App {
  text-align: center;
}

h5{
  margin-bottom: -2rem;
}

h3{
  margin-top: 2rem;
}

#countryCode{
  width: 5rem;
}

#zipcode{
  width: 10rem;
}

#content{
  height:70vh;
  width: 70vw;
  min-height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
}

#container{
  height: 20rem;
  width: 20rem;
  background-color: rgb(23, 205, 229);
  display: flex;
  justify-content: center;
  align-items: center;
  border: dotted black;
  border-radius: 3rem;
}

header{
  height: 15vh;
  min-height: 100px;
  background-color: aqua;
  display: flex;
  justify-content: center;
}

footer{
  height: 15vh;
  min-height: 100px;
  background-color: aqua;
  padding: 1rem;
}

ul{
  list-style: none;
}

li{
  margin-left: -2rem;
}

label{
  padding: 2rem;
}
